/.phpunit.cache
/node_modules
/public/hot
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
storage/app/public/images/
/.fleet
/.idea
/.vscode
/tests
