:root {
    --script-color : #0f0d35;
    --background-color: #eaebe7;
    --script-color-low:#0f0d35c1;
    --script-color-highlight: #0a0828;
    --secondary-color: #343268;
    --primary-color: #fab566;
    --accent-color: #a6bce2;
}