.darkmode{
  --background-color : #0f0d35;
  --script-color: #b9c0cc;
  --script-color-low:#dddcf9bb;
  --script-color-highlight: #eaebe7;
  --secondary-color: #A6BCE2;
  --primary-color: #FAB464;
  --accent-color: #C89C6A;

}