// style.scss
@import'./colors.scss';
@import'./darkmode.scss';
@import'partials/_footer.scss';
@import'partials/_menu.scss';
@import'partials/_main.scss';
@import'partials/_login.scss';
@import'partials/_button.scss';

@font-face {
  font-family: 'Nohemi-Regular';
  src: url('../fonts/Nohemi/Nohemi-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Nohemi-Bold';
  src: url('../fonts/Nohemi/Nohemi-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Nohemi-Thin';
  src: url('../fonts/Nohemi/Nohemi-Thin.ttf') format('truetype');
}

h1 {
  color: var(--primary-color);
  font-family: 'Nohemi-Bold', sans-serif;
}
.darkmode h1 {background-color: var(--background-color);}
:root {
  font-family: 'Nohemi-Regular', sans-serif;
  color: var(--script-color);
  background-color: var(--background-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul,
ol {
  text-decoration: none;
  list-style-type: none;
}

a:hover {
  color: var(--script-highlight-color);
}

main {
  flex: 1;
}

#app {
  flex: 1;
  display: flex;
  flex-direction: column;
}