.article_title_bereich {
    width: 100%;
    display:block;
overflow: hidden;
    .title_img  {
        width: 100%;
    }
}

.article_inhalt {
    display:block;
    img {
        max-width: 100vw;
        height: fit-content
    }
    margin: 0.5em;
    ul {list-style-type: initial;}
}

