@media only screen and (min-width: 1024px) {

    button {
        max-width: 200px;
        margin-top: 15px;
        padding: 10px 20px;
        font-size: 1rem;
        font-weight: 600;
    }
}

button {
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: var(--script-color);
}
.primary_button {
background-color: var(--primary-color);
color: var(--secondary-color);
}

.secondary_button {
    background-color: var(--script-color);
    color: var(--background-color);
}

.accent_button {
    background-color: var(--secondary-color);
    color: var(--script-color);
}