@media only screen and (min-width: 1024px) {

    button {
        max-width: 200px;
        margin-top: 15px;
        padding: 10px 20px;
        font-size: 1rem;
        font-weight: 600;
            white-space: nowrap; /* Beide Worte in einer Zeile */

        
    }
}

button {
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: var(--script-color);
    white-space: nowrap; /* Beide Worte in einer Zeile */
    padding: 0.5em;
}
.primary_button:hover { background-color: var(--background-color);
    color: var(--primary-color);
    margin-bottom: 1.5em;
    border: solid var(--primary-color);
    margin-top: 1.5em;
    border-radius: 12px;}


.primary_button, .primary_button_full {
    background-color: var(--primary-color);
    color: var(--background-color);
    margin-bottom: 1.5em;
    border: solid var(--primary-color);
    margin-top: 1.5em;
    border-radius: 12px;
}

.secondary_button {
    background-color: var(--background-color);
    color: var(--script-color);
    border: solid var(--script-color);
    border-radius: 12px;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}

.secondary_button:hover {
    background-color: var(--script-color);
    color: var(--background-color);
    border-color: var(--background-color)
}

.accent_button {
    background-color: var(--secondary-color);
    color: var(--script-color);
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}