@media only screen and (min-width: 1024px) {
  .toggleHamburger {
    display: none
  }

  nav ul {
    .invisible {
      display: flex;
    }
  }

  .login {
    position: initial
  }

  nav {
    background-color: var(--background);
    position:static;
  }
.onlyDesktop {display:block;}
  .nav-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 3fr 1fr 1fr;
    width: 90%;
    gap: 1em;
    li {
      height: 100%;
      justify-content: center; /* Zentrieren der Kindelemente horizontal */
      align-items: center; 
    }
    .search {input {
      width: 90%;
    }

      grid-column: 4;
      grid-row: 1;

    }
    .wissen {
      grid-column: 2;
      grid-row:1;
    }
    .home {
      grid-column: 1;
    }
  }
}