footer a {
    color:var(--script-color);
}
footer {
    background-color: var(--background-color);
    text-align: center;
    color:var(--script-color);
  }

  footer a:hover{
    color:var(--script-color);
  }