footer {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly; /* space-evenly auf den Footer anwenden */
    height: 10vh;
    background-color: var(--background);
  
    ul {
      display: flex;
      flex-direction: row;
      padding: 0;
      margin:0 auto;
      li {
        padding: 0.5em;
      }
    }
  }
  