.ql-header.ql-picker,
div.ql-editor,
.ql-picker-label,
#content div.ql-editor {
  z-index: -1;
}

input, textarea {
  border-radius: 6px;
  border: none;
  height: 2em;
}

form label {
  color: var(--text);
}

form {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center; 
  input, button, textarea, select {
    border-radius: 6px;
    margin: 1em 0 1em  0;
    border: none;
    width: 90%;
    background-color: var(--accent);
    color: var(--secondary);
    font-size: 1em;
  }
  select {text-align: center;}
  textarea {height: 12em; resize: none }
  fieldset {border-radius: 6px; border: solid var(--accent);padding: 1em;}
}

