@media only screen and (min-width: 1024px) {
  label {
    margin: 20px;
  }

  form {
    padding: 25px;
    min-width: 30%;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  form legend {
    margin-bottom: 15px;
  }

  form input,
  form select {
    padding: 10px;
    font-size: 1rem;
    width: calc(100% - 20px);
  }
}


form {
  border-radius: 15px;
  border: solid;
  overflow:hidden;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1em;
}

input,
select {
  background-color: var(--script-color);
  color: var(--background-color);
}

label {
  text-align: start;
  width: 50%;
}

form legend {
  font-weight: bold;
  text-align: center;
  width: 100%;
}

form input,
form select {
  border-radius: 3px;
  width: 70%;
  margin: 1em;
  border: none;
}
select,
select:active {
  text-align: center;
  text-align-last: center;
}