/* Stile für das Formular */
.login-form {
  background-color: var(--background-color);

  border-color: var(--primary-color);

}

/* Stile für den Container */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  /* Zentriert den Text (und den Login-Button) */
}

/* Stile für die Legende */
.login-form legend {
  color: var(--script-color);
}

form label {
  display: block;
  margin-bottom: 10px;
}

/* Stile für die Beschriftungen */
.login-form label {

  color: var(--secondary-color);
}

/* Stile für die Eingabefelder */
.login-form input[type="password"] {
  color: var(--background-color);
  background-color: var(--script-color);
}

/* Stile für die Fehlermeldung */
.error-message {
  color: var(--primary-color);
  margin-top: 10px;
}

.ql-stroke,
  .ql-fill, .ql-picker span, .ql-snow .ql-picker.ql-expanded .ql-picker-label{
    stroke:  var(--secondary-color) !important;
    color: var(--secondary-color)  !important;
  }