@font-face {
  font-family: 'Nohemi-Regular';
  src: url('../fonts/Nohemi/Nohemi-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Nohemi-Bold';
  src: url('../fonts/Nohemi/Nohemi-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Nohemi-Thin';
  src: url('../fonts/Nohemi/Nohemi-Thin.ttf') format('truetype');
}

html {
  touch-action: manipulation;
}

h1 {
  color: var(--primary);
  font-family: 'Nohemi-Bold', sans-serif;
  @media (prefers-color-scheme: light) {
        color: var(--text);
}
}

@media (prefers-color-scheme: dark) {

  :root {
    font-family: 'Nohemi-Regular', sans-serif;
    color: var(--background);
    background-color: var(--text);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
td {
  max-height: 10vh;
}
img {
  max-height: 80vh;
}

td {
  img {
    height: 10em;
  }
}

@media (prefers-color-scheme: light) {

  :root {
    font-family: 'Nohemi-Regular', sans-serif;
    color: var(--text);
    background-color: var(--background);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

}

body,
html {
  margin: 0;
  padding: 0;
  background-color: var(--background);
}

body {
  display: flex;
  /* Blockiert das Zoomen auf der gesamten Seite */
  -ms-content-zooming: none;
  /* Für den Internet Explorer */
  /* Für den Internet Explorer */
  -webkit-text-size-adjust: 100%;
  /* Deaktiviert Tex*/
  overflow-x: hidden;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--secondary);
}

ul,
ol {
  list-style-type: none;
}


header {
  background-color: var(--background);
}

header a {
  color: var(--secondary);
  text-decoration: underline;
}

header a:hover {
  color: var(--text);
}

#app {
  
  width: 100%;
  background-color: var(--background);
}

table {
  width: 100%;
}

main {
min-height: 90vh;
  margin: 0 0.5em 0 0.5em;
  padding: 0;
  background-color: var(--background);
  overflow: hidden;
  overflow-wrap: break-word;
}

h1 {
  margin: 1.5em 0 1em 0
}

header {
  margin: 1.5em 0 1.5em 0
}