@media (prefers-color-scheme: light) {

  nav,
  nav a {
    color: var(--text);
  }
}

svg {
  fill: var(--secondary);
  max-height: 2em;
  max-width: 2em;
}

.visible {
  display: flex
}

.invisible {
  display: none;
}

nav {
  width: 100%;
  position:absolute
}

.toggleHamburger {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  li {
    padding: 2em 2em 0 0;

    svg {
      background-color: var(--background);
    }
  }
}

nav input {
  width: 60%;
  background-color: var(--accent);
  color: var(--text)
}

.backgroundOn {
  background-color: var(--background);
}

nav ul {
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  width: fit-content;
}
.login{
  color: var(--accent);
  padding: 1em;
  position: absolute;
}
.nav-links {
  margin: 0 auto;
  flex-direction: column;
  width: 75%;
  font-size: 1.2em;

  .nav-cta {
    justify-content: center;
  }

  li {
    padding: 0 0 1em 0;
    width: 100%;

    svg {
      height: 1em;
    }
  }

  .visible li {
    display: flex;
  }
}