img {height:100%;width: 100%;}

@media only screen and (max-width: 1024px) {
    .table_title_img {
        max-width: 30vw;
        max-height: 20vh;
        object-fit: contain;
      }
      table {width: 100%;}
}