tbody {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

th {
  border: solid;
}

table {
  width: 100%;
  border: solid thin;
  font-size: 0.7em;
  border-collapse: collapse;
}




.articleList {
  margin-top: 2.5em;

  table {
    width: 100%;
    height: 100%;
  }

  tr {
    a {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      td {
        border-bottom: solid thin;
        height: 100%;
      
        p,
        ul {
          margin: 0;
          padding: 0;
          width: 100%;
          height: 100%;
          list-style-type: none;
          li {
            min-width: 1.5em;
            height: 100%;
          }
        }
      }}
  }

}